.reunions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.reunions-title {
    margin: 30px;
    text-align: center;
}

.display-history {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.sort-date {
    cursor: pointer;
}