.return-resa {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.gestion-resa-content {
    display: flex;
}

.add-user {
    flex-grow: .8;
    text-align: center;
}

.user-list {
    flex-grow: 1;
    text-align: center;
}

.info-resa {
    text-align: center;
    margin: 20px;
}