.salles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  padding: 10px;
}

.salles h1 {
  padding: 10px;
  margin-bottom: 15px;
}

.salles .item-list .item:hover:not(:first-child) {
  background-color: whitesmoke;
  transition: background-color 0.2s ease-in;
}

.react-calendar {
  width: 350px;
  height: auto;
  margin: 7px 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.react-calendar__viewContainer {
  padding: 12px;
}

.react-calendar__month-view__weekdays,
.react-calendar__month-view__days__day,
.react-calendar__navigation__label {
  font-size: 1.1em;
}

.react-calendar__month-view--weekNumbers {
  margin: 10px;
}

.react-calendar__navigation__label::first-letter,
.react-calendar__year-view__months__month::first-letter {
  text-transform: uppercase;
}

.list_resa {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: center;
  align-items: flex-start;
}
