#home {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../../assets/img/runners.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 90vh;
    width: 100vw;
}

#home h1, #home h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px 0 0 160px;
    font-weight: 900;
    font-size: 2.8em;
    color: #05acbe;
}