ul#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #068D9D;
    width: 100%;
    padding: 20px 0;
    color: #fff;   
}

ul#footer li a h3 {
    color: #fff;
}

li#adress {
    display: flex;
    flex-direction: column;
    align-items: center;
}