@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@1,700&display=swap');

:root {
    --typo_titre: 'Vollkorn', serif;
    --typo_text: 'Open Sans', sans-serif;
    --bg_color: #f1f1f1;
    --gold: #fec816;
    --gold_light: #fde184;
    --blue: #068D9D;

    --background_color: #f4f3ee;
    --color_text: #254441;
    --color_melon: #f8d3a3;
    --color_melon_light: #f8d3a3a4;
    --color_green: #43aa8b;
    --color_green_light: #43aa8b86;
    --color_grey: #bcb8b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--typo_text);
}

a, li {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--typo_titre);
}

html, body, #root, .App {
    height: 100%;
}
