@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@1,700&display=swap');

:root {
    --typo_titre: 'Vollkorn', serif;
    --typo_text: 'Open Sans', sans-serif;
    --bg_color: #f1f1f1;
    --gold: #fec816;
    --blue: #068D9D;
    --gold_light: #fde184;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--typo_text);
}

a, li {
    text-decoration: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--typo_titre);
}

body {
    background-color: var(--bg_color);
}

html, body, #root, .App {
    height: 100%;
}