.plan_salles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.plan_svg {
  width: 70%;
}

.plan_svg #plan {
  font-family: var(--typo_text);
  font-size: 12px;
  cursor: default;
  fill: white;
}

.plan_svg .salle {
  fill: var(--blue);
  transition: fill 0.5s;
}

.plan_svg .salles_loc:hover rect{
  fill: var(--gold);
  cursor: pointer;
  transition: fill 0.5s;
}

.plan_svg .salles_loc:hover text {
  cursor: pointer;
  fill: black;
  transition: fill 0.5s;
}

.plan_svg .salles_loc.salle_active rect  {
  fill: var(--gold);
  cursor: pointer;
  transition: fill 0.5s;
}

.plan_svg .salles_loc.salle_active text {
  cursor: pointer;
  fill: black;
  transition: fill 0.5s;
}

.plan_svg .contour {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}

.plan_svg .txt_ascenseur {
  font-size: 9px;
}

.plan_svg .entree_m2l {
  font-size: 12px;
  fill: none;
  stroke: #000000;
  font-family: var(--typo_text);
  cursor: default;
}
