.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-list .headers {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
}

.item-list .item {
  display: flex;
  justify-content: center;
  width: 85%;
}

.item-list .item li {
  margin: 10px;
  width: 100%;
  text-align: center;
}

.item:first-child {
  border: none;
}

.item-list .headers {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
  background-color: var(--gold_light);
}

.item-list .item {
  display: flex;
  justify-content: center;
  width: 85%;
  border: none;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 7px 7px 7px 7px;
    margin: 7px;
}

.item-list .item li {
  margin: 10px;
  width: 100%;
  text-align: center;
}