.item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.item-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px 7px 7px 7px;
    margin: 7px;
    background-color: whitesmoke;
}

.item-list .headers {
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
  background-color: var(--gold_light);
}
.item-list .item li {
  margin: 10px;
  width: 100%;
  text-align: center;
}
